html{
	font-family:'Roboto';
}
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}


nav a:hover{
	color: #b15252;
}

.ulProdutos{
	width: 1000px;
	margin: 0 auto;
	padding: 50px;
	
}

.pDescricao{
	font-size: 18px;
	margin-top: 10px;
}

.pPreco{
	font-size: 20px;
	font-style:italic;
	margin-top: 10px;
}

.ulProdutos h2{
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.ulProdutos li{
	display: inline-block;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	padding: 20px;
	vertical-align: top;
	margin: 0 15px;
	box-sizing: border-box;
}

.ulProdutos li:hover{
	border-color: #b15252;
}

.ulProdutos li:active{
	border-color: #52b162;
}

.ulProdutos li:hover h2{
	font-size: 35px;
}

footer{
	text-align: center;
	background: #BBBBBB;
	padding: 20px 0;
}

.copyright{
	color: white;
	font-size: 15px;
	padding: 20px;
}

main{
	width: 1000px;
	margin: 0 auto;
}

form{
	margin: 40px;
}

form label, form p{
	display: block;
	margin: 10px 25px;
	font-size: 20px;
	padding-bottom: 5px;
}
.inputPadrao{
	display: block;
	padding: 5px 30px;
	margin: 10px 5px ;
	width: 30%;
}

.checkbox{
	margin: 20px 20px;
}